

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Colon Disease Prediction</h1>
            <nav>
                <button class="nav-toggle">
                    <div class="hamburger"></div>
                    <div class="hamburger"></div>
                    <div class="hamburger"></div>
                </button>
                <ul class="nav-links">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="{{ url_for('predict') }}">Predict</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="content">
            <h2>Upload an Image</h2>
            <form action="{{ url_for('output') }}" method="post" enctype="multipart/form-data">
                <input type="file" name="file" required>
                <input type="submit" value="Predict">
            </form>
        </div>
    </main>
    <script src="/static/scripts.js"></script>
</body>
</html>
